---
layout: default
katex: true
---

<div id="home">
  <ul id="post-list">
    {% for post in site.posts %}
    {% unless post.hide %}
    <li>
      <h2><a class="post-link" href="{{ post.url }}">{{ post.title }}</a></h2>
      <span class="post-meta">{{ post.date | date: "%b %d, %Y " }}</span>
      {% for tag in post.tags %}
      <span class="post-tag">{{ tag }}</span>
      {% endfor %}
      <div class="content">{{ post.excerpt }}</div>
      <hr class="line">
    </li>
    {% endunless %}
    {% endfor %}
  </ul>
</div>
