---
layout: default
---

<div class="well">
  {% for post in site.posts %}
    {% capture cyear %}{{ post.date | date: '%Y' }}{% endcapture %}
    {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
    {% capture pyear %}{{ post.previous.date | date: '%Y' }}{% endcapture %}
    {% if cyear != nyear %}
      <h2>{{ cyear }}</h2>
      <ul>
    {% endif %}
      <li>
        <span>{{ post.date | date: "%b %d" }}</span>
        »
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
      </li>
    {% if nyear == null or cyear == nyear and cyear != pyear %}
      </ul>  
    {% endif  %}  
  {% endfor %}
</div>
