/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
    //font: normal normal normal 100% neuton, sans-serif;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: calc($spacing-unit / 2);
}

/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}

/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
    margin-right: $spacing-unit;
}

li {
    > ul,
    > ol {
        margin-bottom: 0;
    }
    margin-left: 0;
    line-height: 1.7em;
}

/**
  * Table
  */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

table td, table th {
    border: 1px solid #dfe2e5;
    padding: 6px 13px;
}

table tr {
    background-color: #fff;
    border-top: 1px solid #c6cbd1
}

table tr:nth-child(2n) {
    background-color: #f6f8fa
}

table img {
    background-color: transparent
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

/**
 * Line align for p
 */
p {
    text-align: justify;
    text-align-last: left;
    -ms-text-align-last: left;
    -moz-text-align-last: left;
}

/**
 * Links
 */
a {
    color: $link-color;
    text-decoration: none;

    &:visited {
        color: $text-color;
    }

    &:hover {
        color: $brand-color;
        text-decoration: none;
    }
}

/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: calc($spacing-unit / 2);
    padding-right: calc($spacing-unit / 2);
    font-size: 18px;
    letter-spacing: -1px;

    > :last-child {
        margin-bottom: 0;
    }
}

/**
 * Code formatting
 */
pre, code {
    font-size: 14px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #f1f1f1;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}
