html, body {
    -moz-osx-font-smoothing: grayscale;
}

/**
 * Header
 */
#header {
    padding: 60px 0 80px;
    background-color: #515865;

    #header-container {
        max-width: 50%;
        margin: 0 auto;
    }

    #nav {
        color: #707070;
        text-transform: uppercase;
        font-size: 22px;
        float: left;

        li {
            padding-left: 30px;
            display: inline-block;
            line-height: 2em;
            > span {
                a {
                    color: #FFF;
                }
                a:hover {
                    opacity: 1;
                }
            }

            a {
                color: #959BA6;
            }

            a:hover {
                color: #FFF;
                opacity: 0.6;
                text-decoration: none;
            }

            a:visited {
                opacity: 1;
                transition: all0 .155s linea 0 sr 0s;
                text-decoration: none;
            }
        }
    }
}

/**
 * Post Content
 */
#page-content {
    min-height: 100%;
    max-width: $content-width;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
}

#post-list, #post-header {
    list-style: none;

    h2 {
        font-size: 22px;
        margin-top: $spacing-unit;
        margin-bottom: 5px;
    }

    .post-link {
        color: #444;
    }

    .post-meta {
        color: #666;
        margin-left: $spacing-unit;
        margin-right: $spacing-unit;
    }

    .post-tag {
        display: inline-block;
        padding: .3em .9em;
        margin: 0 .5em .5em 0;
        white-space: nowrap;
        background-color: #f1f8ff;
        border-radius: 3px;
        box-shadow: 0 0 black;
        color: #0366d6;
        text-decoration: none;
    }

    .content {
        text-indent: calc(#{$base-font-size} * 2);
        margin-left: $spacing-unit;
    }

    .line {
        margin-top: 35px;
        margin-bottom: 30px;
    }
}

/**
 * Artist
 */
#well {
    color: #000;
    list-style: none;

    h2 {
        margin-top: $spacing-unit;
        font-size: 22px;
    }

    ul {
        margin-left: calc((#{$spacing-unit}) * 2);
        color: #555;
        font-size: 18px;
        list-style: none;
        letter-spacing: 1px;

        a {
            text-decoration: none;
        }

        a:hover {
            color: #000;
        }
    }
}

/**
 * Footer
 */
#footer {
    font-size: 16px;
    text-align: center;
    margin-bottom: 20px;
    color: #666;
}

#gotop {
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 10px 15px;
    font-size: 20px;
    background: #515865;
    color: white;
    cursor: pointer;
}

/**
 * 404 Page Not found
 */
#pnf, #pnf body {
    height: 100%;
    overflow: hidden;
}

#musume {
    height: $content-height;
    background-size: contain;
    background-repeat: repeat-y;
    background-position: top center;
    background-image: url("/assets/404.jpg");
}

/**
 * Wrapper
 */
#wrapper {
    max-width: 85%;
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;
    @include media-query($on-laptop) {
        max-width: calc(95% - (#{$spacing-unit}));
        padding-right: calc($spacing-unit / 2);
        padding-left: calc($spacing-unit / 2);
    }
}

/**
 * Clearfix
 */
%clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/**
 * Post stylish
 */

.hide {
    margin: 0;
    padding: 0;
    max-width: 0;
    max-height: 0;
    overflow: hidden;
}

.center {
    text-align-last: center;
}

.right {
    text-align-last: right;
    font-size: 36px;
}

.three-quart {
    width: 75%;
    height: 75%;
}

.half {
    width: 50%;
    height: 50%;
}

.quart {
    width: 25%;
    height: 25%;
}
